<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- The viewport meta tag is used to control the width and scaling of the viewport -->
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>My Abundant Life</title>

        <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet"/>
    </head>
    <body class="bg-color">
        <header id="header">
            <div class="">
                <a href="{{ url_for('index') }}" style="margin-left: 47%; padding-top: 25px; display: inline-block;">
                <img src="static/images/cow.png"  width="100px" height="75px">
                </a>
                <h1 style="text-align: center;font-family:'Courier New'">Gamers Go Moo</h1>
            </div>
        </header>
        <hr class="border-color" style="width:100%; height: 3px;">
        <main>

            <div style="text-align: center;font-family:'Courier New'">
                <h3 style="text-align: center;font-family:'Courier New'">My Abundant Life: Recipe Catalog</h3>
                <p style="text-align: center;font-family:'Courier New'">Enter a plant to see what kind of recipes you can make with it!
                </p>
                <form action="/recipe">
                    <input type="text" name="crop" id="crop" placeholder="Enter a plant"/>
                    <button type="submit">Submit</button>
                </form>

                <h3 style="text-align: center;font-family:'Courier New'">{{ crop }} recipes</h3>
                <p style="text-align: center;font-family:'Courier New'">
                    
                <div style="display: flex;justify-content: center;align-items: center;">
                    {% if recipes %}
                    {% for recipe in recipes %}
                    <ul class="border-color list-box" style="font-size: larger;font-weight: bold"> {{recipe.name}}
                        {% for ingredient in recipe.ingredients %}
                        <li style="font-size: medium;font-weight: normal;">{{ingredient.name}}</li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                    {% else %}
                    <p style="text-align: center;">No recipes found.</p>
                    {% endif %}
                </div>
            </div>
<!--             
            <h2 style="text-align: center;font-family:'Courier New'">Recipes You Can Make From Your Garden</h2>

            <div style="margin-left: 15%; width:16%; display: inline-block;font-family:'Courier New'"> 
                <h3 style="text-align: center;">Winter Salad</h3>
                <p style="text-align: center;">Ingredients: Lettuce, Onion, Beets, Broccoli</p>
                <img src="images/summer_salad.jpeg" width="250" height="250" style="margin-left: 10%;">
            </div>

            <div style="margin-left: 15%; width:16%; display: inline-block;font-family:'Courier New'"> 
                <h3 style="text-align: center;">Margherita Pizza</h3>
                <p style="text-align: center;">Ingredients: Ingredients: Tomato, Basil</p>
                <img src="images/margherita.png" width="250" height="250" style="margin-left: 10%;">
            </div>

            <div style="margin-left: 15%; width:16%; display: inline-block;font-family:'Courier New'"> 
                <h3 style="text-align: center;">Carrot Bread</h3>
                <p style="text-align: center;">Ingredients: Ingredients: Carrot</p>
                <img src="images/carrot_bread.jpg" width="250" height="250" style="margin-left: 10%;">
            </div>

            <div style="margin-left: 15%; width:16%; display: inline-block;font-family:'Courier New'"> 
                <h3 style="text-align: center;">Summer Pesto Pasta</h3>
                <p style="text-align: center;">Ingredients: Chives, Squash</p>
                <img src="images/pesto_pasta.jpg" width="250" height="250" style="margin-left: 10%;">
            </div>

            <div style="margin-left: 15%; width:16%; display: inline-block;font-family:'Courier New'"> 
                <h3 style="text-align: center;">Tomato Minestrone</h3>
                <p style="text-align: center;">Ingredients: Tomato, Beans, Pepper</p>
                <img src="images/minestrone.jpeg" width="250" height="250" style="margin-left: 10%;">
            </div>

            <div style="margin-left: 15%; width:16%; display: inline-block;font-family:'Courier New'"> 
                <h3 style="text-align: center;">Strawberry Salad</h3>
                <p style="text-align: center;">Ingredients: Strawberry, Spinach</p>
                <img src="images/strawberry_salad.jpg" width="250" height="250" style="margin-left: 10%;">
            </div> -->

            <br>
            <br>
        </main>
        
        <footer class="footer-color" style="height: 100px; width: 100%;" id="footer">
            <p style="text-align: center; padding-top: 50px; font-family:'Courier New'">Disclaimer: Info was gathered by ChatGPT and may not be accurate.</p>
        </footer>
    </body>
</html>